.othello .othello-hud {
    clear: both;
    width: 24em;
    font-weight: bold;
}
.othello .othello-hud > div {
    float: right;
    padding: 0.5em;
}
.othello .othello-hud > div:first-child {
    float: left;
}
.othello .othello-hud > div.active::before {
    content: '\25b6';
}
.othello .othello-hud > div:first-child.active::before {
    display: none;
}
.othello .othello-hud > div:first-child.active::after {
    content: '\25c0';
}
.othello .othello-score {
    padding: 0 1em;
}
.othello .othello-row {
    clear: both;
    font-size: 3em;
    white-space: nowrap;
}
.othello .othello-cell {
    position: relative;
    float: left;
    width: 1em;
    height: 1em;
    margin: -1px;
    border: 1px solid #116611;
    background-color: #2d882d;
}
.othello .othello-cell::before {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 0.8em;
    height: 0.8em;
    margin: -1px;
    border-radius: 0.5em;
    content: '';
}
.othello .othello-cell.othello-color1::before {
    border: 1px solid #116611;
    background-color: #061306;
}
.othello .othello-cell.othello-color2::before {
    border: 1px solid #55aa55;
    background-color: #c6ecc6;
}
